
<%- include('./partials/head.ejs') %>

<header>
    <section class="bye">
    <h1>Dankjewel voor het invullen van de enquetes</h1>
    <a href="/home"> Klik hier om je uit te loggen</a>
    </section>
</header>

