<%- include('./partials/head2.ejs') %>

<main class="home1">
    <section class="homeHeader">
        <h1>Minor Web Development</h1>
        <h2>Enquete</h2>
    </section>

    <form action="/login-redirect" method="post" class="home" name="login" onsubmit="return inloggen()">


        <input type="text" name="user_name" id="name" placeholder="Voornaam" required>
        <span class="error" aria-live=""></span>



        <input type="text" name="user_surname" id="surname" placeholder="Achternaam"   required>
        <span class="error2" aria-live=""></span>


        <input type="number" name="user_studentnr" id="number" min="6" placeholder="Studentnummer" required>
        <span class="error3" aria-live=""></span>

        <input type="submit">
    </form>
</main>