<%- include('./partials/head.ejs') %>

<section class="home1">
<section class="homeHeader">
<h1>Minor Web Development</h1>
<h2>Enquete</h2>
</section>

<form action="/login-redirect" method="post" class="home" >


    <input type="text" name="user_name" id="name" required placeholder="Voornaam">


    <input type="text" name="user_surname" id="name" required placeholder="Achternaam">


  
    <input type="number" name="user_studentnr" id="number"  min="6"   placeholder="Studentnummer" required>

    <input type="submit" value="Submit">
</form>
</section>

