<%- include('./partials/head.ejs') %>

<h1>Enquete</h1>
<h2>Minor Web Development</h2>

<form action="overview" method="get">

    <label for="name">Naam</label>
    <input type="text" name="name" id="name">

    <label for="number">Studentnummer</label>
    <input type="text" name="number" id="number">

    <input type="submit" value="Submit">
</form>