<%- include('./partials/head.ejs') %>

<h1>Enquete</h1>
<h2>Minor Web Development</h2>

<form action="/overview" method="post" class="home" >

    <label for="name">voornaam</label>
    <input type="text" name="user_name" id="name" required>

    <label for="name">achternaam</label>
    <input type="text" name="user_surname" id="name" required>


    <label for="number">Studentnummer</label>
    <input type="number" name="user_studentnr" id="number" required minlength="6" pattern="?[0-9]" >

    <input type="submit" value="Submit">
</form>