<h1>Enquete</h1>
<h2>Minor Web Development</h2>
<h3>Naam</h3>
<h3>Studentnummer</h3>

<a href="">
<section>
    <h1>Weekly Nerd</h1>
</section>
</a>

<a href="">
    <section>
        <h1>WAFS</h1>
    </section>
</a>

<a href="">
    <section>
        <h1>CSSTRR</h1>
    </section>
</a>

<a href="">
    <section>
        <h1>PWA</h1>
    </section>
</a>

<a href="">
    <section>
        <h1>BT</h1>
    </section>
</a>

<a href="">
    <section>
        <h1>RTW</h1>
    </section>
</a>

<a href="">
    <section>
        <h1>HCD</h1>
    </section>
</a>

<a href="/test">
    <section>
        <h1>Meesterproef</h1>
    </section>
</a>


<button>Doorvoeren</button>