* {
    font-family: 'Oswald', sans-serif;
    color: 	white;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp2445777.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    background-color: white;
}

h1, h2, h3, h4, h5{
    text-align: center;
}

form {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 2em;
    padding-top: 1em;

}

h1{
    font-size: 1.5em;
}

input {
    display: block;
    margin: 0 auto;
    margin-top: 2.5em;
}

input[type=text], input[type=number]{
    border: none;
    border-bottom: 2px solid #5699d8;
    color: #5699d8;
  }

  .grade{
      display: block;
  }

.cijfer {
      display: inline-block;

  }

  .cijfer > label {
      display: inline-block;
  }

  .docenten {
    display: inline-block;
  }

  .docenten:nth-child(3){
      margin-left: 10%;
  }

  .docenten > label {
    display: inline-block;
}

textarea{
    width: 100%;
}


.weken {
    display: inline-block;
    width: 40%;
  }

.weken:nth-child(odd){
    margin-left: 10%;
}

  .weken > label {
    display: inline-block;
}


input::placeholder{
    color: #5699d8;
}

input:focus{
    border: none;
    border-bottom: 2px solid #28527a;
    outline: none;
    color: #28527a;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number] {
    -moz-appearance: textfield;
  }

input:focus::placeholder{
    color: #28527a;
}

  input[type=submit] {
    margin-top: 2.5em;
    border-radius: 10px;
    border: none;
    padding: 1em;
    background-color: #5699d8;
    width: 33%;
    color:black;
  }

  input[type=submit]:hover{
      background-color: #28527a;
      color: white;
  }

  input[type=submit]:focus{
    background-color: #28527a;
    border: 2px solid #28527a;
}

.overviewbutton{
    margin-top: 5em !important; 
}

  .home1{
      max-width: 350px;
      margin: 0 auto;
      background-color: #5699d8;
      box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
      margin-top: 10em;
  }
  


/* label {
    margin-top: 2em;
} */

button {
    margin-top: 1em;
    color: black;
    display: block;
    margin: 0 auto;
}

select{
    color: black;
}

a{
    text-decoration: none;
}

section > a > section {
    background-color: #5699d8;
    box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
    height: 100px;
    width: 250px;
    margin: 0 auto;
    outline: none;  
}

section > a > section:hover {
    background-color: #28527a;
}

section > a > section:focus {
    background-color: #28527a;
    
}


.enquete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 3em;
}

.enquete2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 3em;
}


a > section > h1 {
    padding-top: 10%;
}

button {
    margin-top: 5em;
    margin-bottom: 5em ;
}

.header{
    max-width: 350px;
    background-color: #5699d8;
    margin: 0 auto;
    height: 200px;
    box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
}

.header a{
    display: block;
    margin: 0 auto;
    background-color: white;
    color: #5699d8;
    height: 50px;
    text-align: center;
}

.header a:hover{
    display: block;
    margin: 0 auto;
    background-color: #28527a;
    color: white;
    height: 50px;
    text-align: center;
}

footer{
    height: 150px;
    background-color: #5699d8;
    margin-top: 5em;
    width: 100vw;
    margin-left: -10vw;
    margin-top: 30%;
}



.enqueteSectie{
    background-color: #5699d8;
    color: white;
    max-width: 500px;
    box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
    margin: 0 auto;
}

fieldset > p, fieldset > label, legend {
    color: black;
}

legend {
    font-size: 2em;

border-top: 5px solid #5699d8 ;
width: 100%;
padding: 0.5em 1.45em;
margin-left: -1.45em;

}


input[type=radio]{
    width: 25px;
    height: 25px;
    background-color:#5699d8;
}





fieldset {
    border: none;
    margin-top: 3em;
}


.enquete2 > a > section {
    background-color: #9ede73;
    box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
}



textarea{
    color: #5699d8; 
}


.overviewform {
    background: none;
}

textarea{
    border: #5699d8 5px solid;
    resize: none;
}

.line {
    background-color:white ;
    color: #5699d8;
    width: 80vw;
    margin: 0 auto;
    margin-top: 2em;
    height: 2em;
    margin-bottom: 2em;
    box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
}


/* #een, #twee, #drie, #vier, #vijf, #zes {
    display: none;
} */

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="number"],
.input-checkbox {
-webkit-appearance: none;
}

input[type="text"], input[type="number"]{
    font-size: 1em;
}


p{
    margin: 0 auto;
    text-align: center;
}

span{
    color: red;
}

label:focus-within{
    color: green;
}

input[type="text"]:valid, input[type="number"]:valid{
    color: green;
}

input[type="text"]:invalid, input[type="number"]:invalid{
    color: red;
}

.done{
    background-color: white;
    box-shadow: 0px 0px 47px 11px rgba(0,0,0,1);
    padding-bottom: 1em;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
}

.done h1{
    background-color: #5699d8;
    height: 4em;
}

.done section h2, .done section p  {
    color: #5699d8; 
}
.bye{
    background-color: #5699d8; 
    padding: 1em;
    max-width: 500px;
    margin: 10em auto;

}

.bye a{
    text-align: center;
    display: block;
    margin: 0 auto;
}

input[type=submit]:disabled{
    background-color: #28527a;
    color: black;
}

@supports (gap: 3em){ 
    .enquete > a > section{
        margin: 2em;
    }
    .enquete2 > a > section{
        margin: 2em;
    }
};

