* {
    font-family: 'Oswald', sans-serif;
    color: white;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp2445777.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-color: white;
}

h1, h2, h3{
    text-align: center;
}

form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    background-color: grey;
    border-radius: 10px;
    padding: 2em;
}

input {
    display: block;
    margin: 0 auto;
    color: black;
}

label {
    margin-top: 2em;
}

button {
    margin-top: 1em;
    color: black;
    display: block;
    margin: 0 auto;
}

select{
    color: black;
}

a{
    text-decoration: none;
}

section > a > section {
    background-color: rgb(135, 206, 250, 0.7);
    height: 100px;
    width: 250px;
    margin: 0 auto;
    border-radius: 20px;
}

section > a > section:hover {
    background-color: rgb(135, 206, 250);
}

.home > input:nth-child(-n+4){
    border-radius: 10px;
    color: black;
}

.home > input:nth-child(-n+4):hover:focus{
    background: lightgrey;
}

.enquete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 5em;
}

a > section > h1 {
    padding-top: 10%;
}

button {
    margin-top: 5em;
    margin-bottom: 5em ;
}